@import "tailwindcss";

@utility button{
  color: white;
  background: black;
  padding: 10px 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}